{% unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' %}
  {% assign t = template | split: '.' | first %}
  <nav class="breadcrumbs page-width" role="navigation" aria-label="breadcrumbs">
    <ol>
      <li>
        <a href="/" title="Home">Home</a>
      </li>
      {% case t %}
        {% when 'page' %}
          <li>
            <span>{{ page.title }}</span>
          </li>
        {% when 'product' %}
          {% if collection.url %}
            <li>
              {{ collection.title | link_to: collection.url }}
            </li>
          {% endif %}
          <li>
            <span>{{ product.title }}</span>
          </li>
        {% when 'collection' and collection.handle %}
          {% if current_tags %}
            <li>{{ collection.title | link_to: collection.url }}</li>
            <li>
              {% capture tag_url %}{{ collection.url }}/{{ current_tags | join: "+" }}{% endcapture %}
              <span>{{ current_tags | join: " + " }}</span>
            </li>
          {% else %}
            <li>
              <span>{{ collection.title }}</span>
            </li>
          {% endif %}
        {% when 'blog' %}
          {% if current_tags %}
            <li>{{ blog.title | link_to: blog.url }}</li>
            <li>
              {% capture tag_url %}{{ blog.url }}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
              <span>{{ current_tags | join: " + " }}</span>
            </li>
          {% else %}
            <li>
              <span>{{ blog.title }}</span>
            </li>
          {% endif %}
        {% when 'article' %}
          <li>{{ blog.title | link_to: blog.url }}</li>
          <li>
            <span>{{ article.title }}</span>
          </li>
        {% else %}
          <li>
            <span>{{ page_title }}</span>
          </li>
      {% endcase %}
    </ol>
  </nav>
{% endunless %}
