{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                {%  if link.object.metafields.custom.collection_icon %}
                  {{ link.object.metafields.custom.collection_icon | image_url: height: 20 | image_tag: class: 'icon collection-icon', preload: true }}
                {% endif %}
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup page-width"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {%  if childlink.object.metafields.custom.collection_icon %}
                          {{ childlink.object.metafields.custom.collection_icon | image_url: height: 15 | image_tag: class: 'icon collection-icon', preload: true }}
                        {% endif %}
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
                {% if link.object.metafields.custom.collection_brands %}
                  <div class="shop-by-brand">
                    <h5 class="shop-by-brand__title">{{ 'shop-by-brand' | t }}</h5>
                    <ul>
                      {%- for collection_brand in link.object.metafields.custom.collection_brands.value -%}
                        <li>
                          {% if collection_brand.merk_collectie_url %}
                            <a href="{{ collection_brand.merk_collectie_url }}" target="_blank">
                              {% if collection_brand.merklogo %}
                                {{ collection_brand.merklogo | image_url: height: 20 | image_tag: class: 'brand brand-logo', alt: collection_brand.merknaam, title: collection_brand.merknaam, preload: true }}
                              {% else %}
                                <span>{{ collection_brand.merknaam }}</span>
                              {% endif %}
                            </a>
                          {% else %}
                            {% if collection_brand.merklogo %}
                              {{ collection_brand.merklogo | image_url: height: 20 | image_tag: class: 'brand brand-logo', alt: collection_brand.merknaam, title: collection_brand.merknaam, preload: true }}
                            {% else %}
                              <span>{{ collection_brand.merknaam }}</span>
                            {% endif %}
                          {% endif %}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
