<price-range class="facets__price">

  <div class="range-wrap">
    <input
            class="range"
            name="{{ filter.min_value.param_name }}"
            id="Filter-{{ filter.label | escape }}-GTE"
            {% if filter.min_value.value %}
              value="
          {%- if uses_comma_decimals -%}
          {{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '' }}
          {% else %}
          {{ filter.min_value.value | money_without_currency | replace: ',', '' }}
          {% endif %}
          "
            {% else %}
              value="0"
              min="0"
              step="0.5"
              max="
      {%- if uses_comma_decimals -%}
      {{ filter.range_max | divided_by: 2 | money_without_currency | replace: '.', '' | replace: ',', '' }}
      {% else %}
      {{ filter.range_max | divided_by: 2 | money_without_currency | replace: ',', '' }}
      {% endif %}
      "
            {% endif %}
            type="range"
    >
    <output class="bubble"></output>
    <input
            class="range"
            name="{{ filter.max_value.param_name }}"
            id="Filter-{{ filter.label | escape }}-LTE"
            step="0.5"
            {% if filter.max_value.value %}
              value="
          {%- if uses_comma_decimals -%}
          {{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '' }}
          {% else %}
          {{ filter.max_value.value | money_without_currency | replace: ',', '' }}
          {% endif %}
          "
            {% else %}
              value="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
              min="{{ filter.range_max | divided_by: 2 | money_without_currency | replace: ',', '' }}"
            {% endif %}
            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
            type="range"
            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
    >
    <output class="bubble"></output>
  </div>

</price-range>
